
body {
  background-color: #242424;
  color: #dddddd;
  margin: 0;
  line-height: 1.6;
  scroll-behavior: smooth;
}

header {
  background: #2e4169;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navLinks a {
  color: #9d9d9d;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #0059b3;
}

#headshot {
  border-radius: 50%;
}

section {
  padding: 3rem 2rem;
  max-width: 1000px;
  margin: auto;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #2e4169;
  font-size: 0.9rem;
  color: #aaa;
}
