/* general styling for all pages*/
body {
    background-image: url("lowpolyhaikei.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #dddddd;
    margin: 0;
    scroll-behavior: smooth;
}
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
header {
    background-color: #0e1218ee;
    padding: .5% 1.5%;
    top: 0;
    z-index: 1000;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLinks {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    display: flex;
    gap: 30px;
}
.navLinks a {
    color: #9d9d9d;
    transition: color 0.3s ease;
}
.navLinks a:hover {
    color: #0059b3;
}
section {
    padding: 5% 10%;
    margin: auto;
}
footer {
    background-color: #0e1218ee;
    text-align: center;
    padding: .5%;
    font-size: 14px;
    color: #aaaaaa;
}
h1, h2 {
    font-family: 'Poppins', serif;
}
p, button {
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #1f6feb;
}

/*index page */
#headshot {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    vertical-align: bottom;
}
#name {
    font-size: 69px;
    margin: 0px;
}
#subtitle {
    font-size: 24px;
    color: #999999;
    font-weight: normal;
}
.about {
    max-width: 1000px;
    line-height: 1.6;
    font-size: 18px;
}
.aboutContainer {
    background-color: #0d1117bb;
    border-radius: 12px;
    padding: 3%;
}
.headerSub {
    display: flex;
    align-items: flex-end;
    gap: 69px;
    flex-wrap: wrap;
}
.nameAndSubtitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 70%;
    margin-bottom: 2%;
}
.about h1 {
    font-size: 48px;
    margin: 0;
}
#subtitle {
    margin: 0;
    padding: 0;
    font-size: 24px;
}
.about p {
    margin-bottom: 20px;
}
.aboutGDCHYPE {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.aboutGDCHYPE.reverse {
    flex-direction: row-reverse;
}
.aboutGDCHYPE img {
    flex: 1 1 300px;
    max-width: 400px;
    border-radius: 12px;
    height: auto;
}
.aboutGDCHYPE .text {
    flex: 2;
    min-width: 280px;
}

/* projects page */
.tabsContainer {
    background-color: #0d1117bb;
    color: #dddddd;
    padding: 2%;
    border-radius: 12px;
}
.tabsHeader {
    display: flex;
    gap: 10px;
}
.tabButton {
    padding: 1% 2%;
    background-color: #21262d;
    border: none;
    border-radius: 12px 12px 0 0;
    cursor: pointer;
    font-weight: bold;
    color: #dddddd;
    transition: background-color 0.3s;
}
.tabButton:hover {
    background-color: #30363d;
}
.tabButton.active {
    background-color: #1f6feb;
}
.projContent {
    padding: 4%;
    background-color: #161b22;
    /*unround the right corner if too many tabs */
    border-radius: 0 12px 12px 12px;
}
.imgRow {
    display: flex;
    flex-wrap: wrap; 
    gap: 69px;
    margin: 25px 0;
}

/* resume page */
.resumeContent {
    padding: 4%;
    background-color: #161b22;
    border-radius: 12px;
}

/* contact page */
.contactSections {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1%;
    background-color: #0d1117bb;
    color: #dddddd;
}
.myInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    background-color: #161b22;
    padding: 4%;
    border-radius: 12px;
    align-items: center;
}
.socialMedia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.sendForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #161B22;
    padding: 4%;
    border-radius: 12px;
}
.sendForm input,
.sendForm textarea {
    background-color: #0d1117;
    border: 1px solid #30363d;
    padding: 3%;
    color: #dddddd;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
}
.sendForm button {
    background-color: #1f6feb;
    color: #dddddd;
    border: none;
    padding: 4%;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.sendForm button:hover {
    background-color: #1926b8;
}
.cLinks {
  margin-right: 20px;
  color: #dddddd;
  transition: color 0.2s ease;
}
.cLinks:hover {
  color: #1f6feb;
}